@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Welcome to Hilton (Colombo)</h1>
    <p>If you have any complaints, go ahead and tell us. We'll fix them for you...</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Talk to us:</h2>
        <p>
            <a href="https://aka.ms/countybot/msteams">
                <img src="https://dev.botframework.com/Client/Images/Add-To-MSTeams-Buttons.png" alt="Add to Teams" height="42" width="150" border="0">
            </a>
            <a href="https://aka.ms/countybot/skype">
                <img src="https://dev.botframework.com/Client/Images/Add-To-Skype-Buttons.png" alt="Add to Teams" height="32" width="150" border="0">
            </a>
        </p>
        <p>
            Try not to abuse the bot. #botsrights
        </p>
        <p><iframe src='https://webchat.botframework.com/embed/countybot2?s=pzfWdaCaHZ0.cwA.eJY.ja0cfWbcLbP5WzDWGLTGTtKUvr6W7mwuzpCqFggTiJM' height="400"></iframe></p>
    </div>
</div>